body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 10vw;
}

h1{
  font-size: 300%;

}

.attention{
  color: red;
}

.mc-field-group input{
  padding: 20px;
  width: 70vw;
  margin: 20px;
}
#mc_embed_signup_scroll{
  display: flex;
  flex-direction: column;
  align-items: center;

}

#mc-embedded-subscribe{
  background-color: red;
  color: white;
  font-size: 15px;
  display: flex;
  text-align: center;
  margin: auto;
  padding: 20px 50px;
}

label{
  padding: 20px;
}
